/*Header section*/

header {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


p {
    font-family: KillerTech;
    margin-top: 10px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 4px black;
    position: relative;
    overflow:hidden;
    background-color: white;
    z-index: 1;
    border-radius: 0 40px 0 40px;
    animation: shadow 8s both;
}

@keyframes shadow{
    from{
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.534);
    }
    to{
        box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.534);
    }

}

.jump{
    animation: jump 8s linear;
    position: relative;
}

@keyframes jump{
   0%{
       bottom: 200px;
   }
   50%{
       bottom:0px;
       transform: scale(1.25 , 1);
   }
   80%{
       bottom:100px;
   }
   
   100%{
       bottom:0px;
   }
}
.float{
    animation: float 8s linear;
    position: relative;
}

@keyframes float{
   0%{
       left: 400px;
   }
  
   100%{
       left:0px;
   }
}
p:before {
    content: "";
    height: 100%;
    width: 100%;
    transform:rotate(50deg);
    border: 5px solid white;
    background-image: linear-gradient(to left, #3c32c9,#800000);
    position: absolute;
    overflow: hidden;
    left: -100%;
    z-index: -2;
    animation: color 8s both;
}

img,
.borderColor,
.borderColor:after,
p:before{
    border-radius: 0 40px 0 40px;
}




@keyframes color{
   0%{  
     
        left:-100%;
    }
    25%{
        left:50%;
    }
    50%{
        left:-100%
    }
    100%{
        left: 0%;
        transform:rotate(0deg);
    }
}

/*content section*/


.borderColor{
    height: 50%;
    position: relative;
    background: rgba(0, 0, 0, 0.897);
    background-size: cover;
    
}

.borderColor:hover{
    position: relative;
    bottom: 10px;
    box-shadow: 0 10px 8px black;
}


.borderColor:after{
    content: '';
    position: absolute;
    left: -2px;
    top: -1px;
    background: linear-gradient(45deg ,#3c32c9,#800000,#FF0000,#800080,#3c32c9,#51bb5a,#c017c0,#800080,#3c32c9,#14e49e,#be39ad,#7687e4,#491212,
    #888a0f,#7e3d7e,#cec1ce);
    background-size: 400%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0 0 ;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

img{
    filter:grayscale(100%);
  
}

img:hover{
    animation: grays 3s both;
    
}

@keyframes grays{
    0%{
        filter: grayscale(100%);
    }
    50%{ 
        filter: grayscale(50%);}
    100%{ 
        filter: grayscale(0%);}
}
